<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模板编译</title>
</head>
<body>
  <script type="module">
    import { baseOptions as options } from '../entry/compiler/options.js'
    import { parse } from './parser/index.js'
    import { optimizer } from './optimizer.js'
    import { generate } from './codegen/index.js'
    import { createFunction } from './to-function.js'
    let template = '<div class="box" v-on:click.enter.stop="handleClickBox"><ul><li>我是文本信息</li><li>我是文本信息</li></ul><p class="message">{{message}}</p></div>'
    // template = `<div :key="'123'" class="name-box"><p class="name">{{name}}</p><p class="tip">Hello, World!</p></div>`
    // 过滤器相关
    // template = `<div :class="name | filterName | filterName2" asd></div>`
    // template = `<div :class="/.*/.test(name)" asd></div>`
    // style相关
    // template = `<div :style="{color: color, font-size: fontSize + 'px'}"></div>`
    // 事件相关
    template = `<div class="box" :class="hehe" asd @click="handleClick"></div>`
    // input元素
    // template = '<div><input v-for="(item, index) in arr" :key="index" v-if="item !== \'张三\'" v-model="checkArr" :type="inputType" :value="item" /></div>'
    // 组件
    // template = '<div class="box"><my-component></my-component></div>'
    // 过滤器
    template = '<div :class="box | filterClass" class="box" asd v-once>This message is {{message | filterMessage | filterMessage2}}!</div>'
    template = '<div v-once v-if="message && !name">{{message}}</div>'
    let ast = parse(template, options)
    console.log(ast)
    // optimizer(ast, options)
    const code = generate(ast, options)
    console.log(code)
    // let errors = []
    // const render = createFunction(code.render, errors)
    // console.log(render)
  </script>
</body>
</html>
